
/*
 *
 * General Styling
 * 
 */

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

html {
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}
 
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} 

body {
    font: 16px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.0em;
    color: #55606E;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    text-decoration: underline;
}


li {
    list-style-type: none;
}

.container {
    width: 100%; /* width: 1140px; */
    max-width: 1140px;
    margin: 0 auto;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

/*
 *
 * Header
 * 
 */

.header container {
	background: #fff; 
	padding: 1.5rem 0;
    display: inline;
}

.header {  
    box-shadow: 0px, 0px, 5px, 0px, rgba(0, 0, 0, 0.26);
    min-height: 56px;
    transition: min-height 0.3s;
    text-align: center;
    display: inline;
}

.header__logo {
    display: inline-block;
    text-indent: -9999px;
    margin: 1rem 0;
    float: left;
}

/*
 *
 * Nav
 * 
 */

/*
.header .nav { 
    display: inline; 
    
} */

.nav li {
    color: red;
    display: inline;
}

/*
 *
 * Search
 * 
 */

.search__form {
    display: inline-block;
    width: 15rem;
    position: relative;
    vertical-align: bottom;
}

.search__box {
    display: block;
    padding: 6px 20px 6px 5px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    position: relative;
    background: url('http://i.imgur.com/zxVlIlB.png') no-repeat 185px center;
}

/*
 *
 * Hero
 * 
 */

.hero {
    background: #333 url(../images/hero.jpg) no-repeat 50% 50%;
    background-size: cover;
    border-bottom: 4px solid #e2e2e2;
    width: 100%;
    position: relative;
    min-height: 300px;
}

.hero h1 {
    font-weight: 300;
    font-size: 10vh;
    color: #9affff;
    line-height: .8em;
    text-shadow: 2px 2px 2px #257a9f;
    float: left;
    padding: 20px;
    
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}

.hero-item {
    background: url(../images/hero-item.png);
    position: absolute;
    height:300px; 
    max-width: 100%;
    max-height: auto;
    float: right;
}

/*
 *
 * Benefits
 * 
 */

.benefits {
    padding-top: 4em;
    padding-bottom: 4em;
    background: #eee;
    background-size: cover;
    border-bottom: 3px solid #5ea6ca;
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 460px;
}

.benefits-block {
    display: inline;
    background: #FFF;
    width: 265px;
    height: 350px;
    margin: auto;
    margin-left: 20px;
    position: relative;
    display: center;
}

.benefits-block__upper {
    background: #54add7;
    border: 1px solid #4793b7;
    border-bottom: 3px solid #4793b7;
    width: 265px;
    height: 55px;
}

.benefits-block__bottom {
    width: 265px;
    height: 300px;
    border: 1px solid #cecece;
    border-bottom: 3px solid #cecece;
}

.benefits-block {
    float: left;
    width: 265px;
}

.upper__text {
    font-weight: 400;
    text-align: center;
    color: #FFF;
    font-size: 24px;
    text-shadow: 2px 2px 1px #444;
}

.bottom__text {
    text-align: center;
    font-size: 0.9em;
    padding-left: 4px;
    padding-right: 4px;
}

.benefits-block a {
    color: #5ea6ca;
    text-align: center;
    padding-top: 20px;
}

.benefits-block .fa {
    color: #c9c9c9;
    text-align: center;
    font-size: 3em;
    border: 8px solid #c9c9c9;
    border-radius: 90%;
    padding: 20px;
    margin: 20px;
    width: 100px;
    height: 100px;
}

/*
 *
 * Advantages
 * 
 */

.advantages {
    background: #6ec3ed;
    background-size: cover; 
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 320px;
}

.advantages__text {
    padding: 35px 0px 45px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
}

.column {
    width: 550px;
    height: 160px;
    background-color: #fff;
    border: 1px solid #5ea6ca;
    border-bottom: 3px solid #5ea6ca;
    display: table-cell; 
    vertical-align: middle; 
    text-align: justify;    
}

.column__item {
    padding-bottom: 5px;
    color: #9b9b9b;
    position: relative;
    padding: 0px 5px 15px 15px;
}

.column__item:before {
    content: url('../images/advantages-caret.png');
}

/*
 *
 * Small Hero
 * 
 */

.small-hero {
    background-color: #255e7a;
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 120px;
    display: flex;
    align-items: center;
}

.small-hero__title { 
    position: relative;
    color: #FFF;
    font-weight: 300; 
    text-align: center;
    line-height: 1.5em;
}

/*
 *
 * Featured
 * 
 */

.featured {
    background-color: #FFF;
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 285px;
}

.featured-list__logo {
    display: inline;
    padding: 50px 15px 50px 15px;
}

/*
 *
 * Footer
 * 
 */

.footer {
    background: #3a3a3a;
    background-size: cover;
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 280px;
}

.footer a,
p {
    color: #8e8e8e;
}

.footer__title {
    height: 42px;
    width: 263px;
    background-color: #656565;
    border: 1px outset #313131;
    border-bottom: 3px outset #2f2f2f;   
    display: table-cell;
    vertical-align: middle;
    text-align: center;   
    color: #FFF;
}

.footer__column {
    float: left;
    width: 260px;
    padding-top: 60px;
    padding-right: 20px;
}

.footer__list-item a:before {
    content: url('../images/footer-caret.png');
    display: inline-block;
    margin-right: 10px;
}

.footer__list-item-c {
    margin-top: 10px;
}

.footer__list-item {
    padding: 10px 0px 0px 20px;
}

.footer__contact {
    text-align: center;
    right: 0px;
}

.footer__contact a {
    text-decoration: underline;
}

.footer__contact li:first-child {
    font-weight: 700;
    font-size: 1.1em;
}

.footer__paypal {
    padding-left: 110px;
}

/*
 *
 * Responsive
 * 
 */

@media screen and (max-width: 610px) {
    .header__logo {
        height: 48px;
        margin-right: 0.5em;
    }
    .header__title {
        margin-left: 0;
        font-size: 2em;
        vertical-align: bottom;
    }
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }
    .nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }
    .header__menu {
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 1em;
    }
    .header__menu svg {
        width: 32px;
        fill: #E0E0E0;
    }
    
    .small-hero__title {
        font-size: 1.3em;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .advantages .column {
        display: block;
    }
    
}

@media screen and (min-width: 610px) {
    .header__menu svg {
        display: none;
        width: 32px;
        fill: #E0E0E0;
    }
}

@media screen and (min-width: 800px) {
    .hero h1 {
        font-size: 8vh;
    }
    
    .footer__column {
    display: inline;
    }
    
}