
/*
 *
 * General Styling
 * 
 */

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
 
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} 

body {
    font: 16px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.0em;
    color: #55606E;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

.container {
    width: 100%; /* width: 1140px; */
    max-width: 1140px;
    margin: 0 auto;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

/*
 *
 * Header
 * 
 */

.header {  
    background: #FFF no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    position: relative;
    min-height: 100px;
    text-align: center;
    display: inline;
}

.header__logo { 
    float: left;
    margin-top: 10px;
    font-weight: 600;
    font-size: 2.8em;
    color: #83c4e2;
    line-height: 1;
    text-shadow: 1px 3px 1px #257A9F;
}

/*
 *
 * Navigation
 * 
 */

.header__inner {
    margin: 1rem 0rem 1rem 0rem;     
}

.nav { 
    margin: 0rem 10rem 0rem 0rem; /* margin: 1rem 0 2rem 0;  */
    padding: .5rem; 
    border: none;     
}

.nav li {
    display: inline-block;
}

.nav__item a {
    color: #6a6867;
    padding: 1rem;
}

.nav .current {
    border: 2px solid #00AFDA;
    border-radius: 5px;
    position: relative; 
    padding: 1rem .5rem; 
}

.nav .current:after {
    content: "";
    display: block;
    width: 8px;
    height: 9px;
    background: url('../images/blue-checkmark.png');
    position: absolute; 
    bottom: -14%;
    left: 45%; 
}

.nav .current a {
    color: #00AFDA;
}

/*
 *
 * Search
 * 
 */

.search__form { 
    display: inline-block; 
    width: 15rem; 
    position: relative;
    margin: auto;
    float: right;
    margin-top: -50px;
}

.search__box {
    display: block;
    width: 100%;
    padding: 6px 30px 6px 5px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    position: relative;
    background: url('../images/search-icon.png') no-repeat 210px center; 
}

/*
 *
 * Hero
 * 
 */

.hero {
    background: #333 url(../images/hero.jpg) no-repeat 50% 50%;
    background-size: cover;
    border-bottom: 4px solid #e2e2e2;
    width: 100%;
    position: relative;
    min-height: 300px; 
    
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

.hero-text {
    text-align: center;
}

.hero__title {
    font-weight: 300;
    font-size: 4.5em;
    color: #9affff;
    line-height: 1;
    text-shadow: 2px 2px 2px #257a9f;
    margin: auto;
}

.hero__title span {
    font-weight: 600;
}

.hero__subtitle {
    font-weight: 300;
    font-size: 2.5em;
    color: #9affff;
    line-height: 1;
    text-shadow: 2px 2px 2px #257a9f;   
    margin: auto; 
}

/*
 *
 * Benefits
 * 
 */

.benefits {
    padding-top: 4em;
    padding-bottom: 4em;
    background: #eee;
    background-size: cover;
    border-bottom: 3px solid #5ea6ca;
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 460px;
}

.benefits__text {
    padding: 0px 5px 45px 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    color: #4793b7;    
}

.benefits-block {
    display: inline;
    background: #FFF;
    width: 265px;
    height: 350px;
    margin: auto;
    margin-left: 20px;
    position: relative;
    display: center;
    padding-bottom:50px;
}

.benefits-block__upper {
    background: #54add7;
    border: 1px solid #4793b7;
    border-bottom: 3px solid #4793b7;
    width: 265px;
    height: 55px;
}

.benefits-block__bottom {
    width: 265px;
    height: 300px;
    border: 1px solid #cecece;
    border-bottom: 3px solid #cecece;
}

.benefits-block {
    float: left;
    width: 265px;
}

.upper__text {
    font-weight: 400;
    text-align: center;
    color: #FFF;
    font-size: 24px;
    text-shadow: 2px 2px 1px #444;
}

.bottom__text {
    text-align: center;
    font-size: 0.9em;
    padding-left: 4px;
    padding-right: 4px;
}

.benefits-block a p {
    color: #4793b7;
    text-align: center;
    padding-top: 20px;
}

.benefits-block .fa {
    color: #c9c9c9;
    text-align: center;
    font-size: 3em;
    border: 8px solid #c9c9c9;
    border-radius: 90%;
    padding: 20px;
    margin: 20px;
    width: 100px;
    height: 100px;
}

/* Benefits hover effects */

.benefits-block:hover .fa {
    color: #4793b7;
    border: 8px solid #4793b7;
}

.benefits-block__bottom:hover {
    background: #98cde7;
    border: 2px solid #4793b7; 
    border-top: 1px solid #4793b7;  
}

.benefits-block__bottom:hover p {
    color: #1d3b49;
}

.benefits-block__bottom:hover a {
    font-size: 1.2em;
    text-decoration: none;
}

/*
 *
 * Advantages
 * 
 */

.advantages {
    background: #6ec3ed;
    background-size: cover; 
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 320px;
    line-height: 1.2;
}

.advantages__text {
    padding: 35px 0px 45px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
}

.column {
    max-width: 550px;
    min-height: 160px;
    width: 100%;   
    background-color: #fff;
    border: 1px solid #5ea6ca;
    border-bottom: 3px solid #5ea6ca; 
    text-align: justify;    
    display: inline-block;
}

.column__item {
    color: #9b9b9b;
    position: relative;
    padding: 25px 5px 0px 25px;
}

.column__item:before {
    content: url('../images/advantages-caret.png');
}

/* Advantages hover effects */

.advantages .column:hover {
    background: #255e7a;
    border: 2px solid #FFF;
}

.column:hover .column__list li {
    color: #FFF;
}

/*
 *
 * Small Hero
 * 
 */

.small-hero {
    background-color: #255e7a;
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 120px;
    display: flex;
    align-items: center;
}

.small-hero__title { 
    position: relative;
    color: #FFF;
    font-weight: 300; 
    text-align: center;
    line-height: 1.2;
}

/* Small-hero hover effects */

.small-hero__title span:hover {
     color: #8cbfd9;     
}

/*
 *
 * Featured
 * 
 */

.featured {
    background-color: #FFF;
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 285px;  
    display: flex;
    align-items: center;
}

.featured__title {
    padding: 30px 5px 20px 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    color: #4793b7;           
}

.featured-list__logo {
    position: relative;
    display: inline;
}

.featured ul,
.featured ul li {
    padding: 20px !important;
}

/*
 *
 * Footer
 * 
 */

.footer {
    background: #3a3a3a;
    background-size: cover;
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 280px;
}

.footer a,
p {
    color: #8e8e8e;
}

.footer__title {
    padding: 30px 5px 0px 5px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    color: #a6a6a6; 
}

.column__title {
    height: 42px;
    width: 263px;
    background-color: #656565;
    border: 1px outset #313131;
    border-bottom: 3px outset #2f2f2f;   
    display: table-cell;
    vertical-align: middle;
    text-align: center;   
    color: #FFF;
}

.footer__column {
    float: left;
    width: 260px;
    padding-top: 30px;
    padding-right: 20px;
}

.footer__list-item a:before {
    content: url('../images/footer-caret.png');
    display: inline-block;
    margin-right: 10px;
}

.footer__list-item-c {
    margin-top: 10px;
}

.footer__list-item {
    padding: 10px 0px 0px 20px;
}

.column__contact {
    text-align: center;
    right: 0px;
}

.column__contact a {
    text-decoration: underline;
}

.column__contact li:first-child {
    font-weight: 700;
    font-size: 1.1em;
}

.footer__paypal {
    padding-left: 110px;
}

/* Footer hover effects */

.footer__column:hover .column__title {
    background:  #8c8c8c;
}

/*
 *
 * Media Queries
 * 
 */

@media screen and (max-width: 750px) {
    .header__logo {
        margin-bottom: 20px;
        margin-right: 0.5em;
    }
    .header__title {
        margin-left: 0;
        font-size: 2em;
        vertical-align: bottom;
    }
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 255px;
        position: absolute;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
        margin-top: 60px;
    }
    .nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }
    
    .nav__item a {
        color: rgba(101, 101, 101, 1);
	    padding: padding: 1rem 1rem;
	    display: block;
	    border-bottom: 1px dotted rgba(101, 101, 101, .4);
    }
    
    .nav .current {
        border: 2px solid #00AFDA;
        border-radius: 5px;
        position: relative; 
        padding: 0px;
    }
    
    .search__form { /*
        padding-top: 55px;  70px */
        margin-top: 10px;
        margin-bottom: 10px;  /* 20px */
    }
    
    .header__menu {/* 
        display: inline-block;
        position: absolute; */
        right: 0;
        padding: 1em;
    } 
    .header__menu svg {
        width: 32px;
        fill: #257A9F; /* #E0E0E0; */
        margin-top: 1.5em;
        margin-left: .5em;
        float: right;
    }
    
    .ben-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .ben-div .benefits-block {
        margin: auto !important;
        margin-bottom: 20px !important;
    }
    
    
    .small-hero__title {
        font-size: 1.4em;
        padding: 0px 10px 0px 10px;
    }
    
    .footer__paypal:last-child {
         padding-left: 40px;       
    }
}

@media screen and (min-width: /* 610 */751px) {
    .header__menu svg {
        display: none;
/*         width: 32px;
        fill: #E0E0E0; */
    }
    
    .small-hero__title {
        padding: 0px 20px 0px 20px;
        font-size: 1.6em;
    }
    
    .nav__item a {
        padding: 0.5rem;
    }
    .nav__item .search__form {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    
    .hero h1 {
        font-size: 8vh;
    }
    
    .footer__column {
    display: inline;
    }
    
    .small-hero__title {
        font-size: 2em;
    }
    
    .nav__item a {
        padding: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .search__form {
        display: none;
    }
    
    .nav__item .search__form {
        display: block;
    }
    
}

@media screen and (min-width: 1101px) {
    .nav__item .search__form {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .advantages .column {
        display: block;
    }
    
    .column {
        margin: auto !important;
        margin-bottom: 20px !important;
    }
    
    .benefits-block {
        text-align: center !important;
    }
    .benefits-block {
        margin: auto !important;
        margin: 20px !important;
    } 

    .footer__column {
        padding-left: 30px;
    }    
}
